* {
    border: 1px red solid;
    box-sizing: border-box;
    background-color: rgb(189, 189, 189);
    
}

html, body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height:100vh;
    margin:0;
}

.mainText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 70rem;
}

.mainText>p {
    padding: 3em;
}

.leftSidePhotoContainer>img {
    width: 40rem;
    height: 100vh;
    object-fit: cover;
    
}

.leftSidePhotoContainer {
    width: 40rem;
    height: 100vh;
}
.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    gap: 4em;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.secondColumn {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.formInput {
    background-color: rgb(255, 255, 255);
    width: 13rem;
    height: 1.5rem;
}

.labelForm {
    background-color: rgb(255, 255, 255);
    width: 13rem;
    height: 1.5rem; 
}